
.bridge {
  display: flex;
  flex-direction: column;
  background-color: darkcyan;
  }
  
  .container {
  display: flex;
  justify-content: center;
  background-color: #D1E8E4;
  width: 800px;
  min-height: 90%;
  margin-left: 200px;
  }


  
  h1, h2 {
    font-size: 20px;
    color:darkblue;
    margin: 12px;
  }
  
  
  .btn {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .btnOne{
    background-color: #D1E8E4;
    color:#027070;
    border: none;
    font-size: bold 13px;
    padding: 12px;
    margin: 15px;
  }
  
  
  button {
    background-color: #027070;
    color: #fff;
    padding: 10px;
    border: none;
    text-transform: uppercase;
  }
  